In [8]:
import pandas as pd
import numpy as np

In [2]:
answer_target=[18,16,14,13,9]

In [14]:
allanswer=list()
for i in answer_target:
    allanswer.append(pd.read_csv("answer/answer_"+str(i)+".csv").set_index('id'))

In [41]:
vote=pd.DataFrame(data={"label":0},index=allanswer[0].index)

In [43]:
for ans in allanswer:
    vote=vote+ans

In [45]:
vote.label=(vote['label']>=3).astype(int)

In [44]:
vote

       label
id
0          0
1          5
2          5
3          5
4          4
5          0
6          4
7          0
8          0
9          0
10         0
11         0
12         0
13         5
14         0
15         1
16         3
17         0
18         3
19         5
20         5
21         0
22         0
23         0
24         5
25         0
26         0
27         0
28         0
29         5
...      ...
79970      0
79971      5
79972      0
79973      0
79974      0
79975      5
79976      5
79977      0
79978      0
79979      5
79980      5
79981      5
79982      5
79983      0
79984      2
79985      5
79986      0
79987      1
79988      0
79989      5
79990      0
79991      3
79992      0
79993      5
79994      5
79995      0
79996      5
79997      0
79998      5
79999      2

[80000 rows x 1 columns]