In [2]:
import scipy,pprint
from pprint import pprint
import numpy as np
import pandas as pd
import math

In [62]:
raw_train_x=pd.read_csv("train_x.csv",encoding="big5")
raw_train_x.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,30000,1,2,2,26,1,-1,-1,2,0,...,30642,29361,29022,28409,28924,4000,0,1000,900,800
1,80000,2,3,2,40,2,2,0,0,0,...,75945,61740,29089,28267,4,3716,2000,1000,1000,2000
2,50000,2,2,1,53,0,0,0,0,0,...,30356,31342,32644,32719,1500,1600,1498,2627,1400,1200
3,110000,2,1,2,27,0,0,0,0,2,...,85362,74552,59902,42254,4113,3500,4005,0,1500,1999
4,200000,2,2,1,47,0,0,0,0,0,...,158980,157837,127528,119550,9058,7260,7367,4303,4551,4411

In [59]:
def prework_x(raw_x):
    new_x=raw_x
    new_x['MARRIAGE']=new_x['MARRIAGE'].replace(2,0)
    new_x['SEX']=new_x['SEX'].replace(2,0)
    return(new_x)

In [60]:
train_x=prework_x(raw_train_x)

In [8]:
raw_train_y=pd.read_csv("train_y.csv",encoding="big5")
raw_train_y.head(10)

   Y
0  0
1  1
2  0
3  0
4  0
5  1
6  0
7  0
8  0
9  0

In [33]:
train_y=raw_train_y

In [61]:
raw_test_x=pd.read_csv("test_x.csv",encoding="big5")
raw_test_x.describe()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,...,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.00000,10000.000000,10000.000000
mean,166695.368000,1.603300,1.862500,1.552400,35.452200,-0.035100,-0.153600,-0.178300,-0.22110,-0.263500,...,46921.248100,42841.23710,39844.374600,38681.994500,5609.087500,6.090592e+03,5153.753900,4747.88070,4756.026900,5273.160800
std,129644.390825,0.489237,0.795523,0.523146,9.132308,1.099631,1.173859,1.174158,1.15436,1.122405,...,68317.123248,62739.31377,59328.929936,58566.237368,15715.336127,2.406290e+04,15054.077354,15363.71007,15634.351721,18085.601609
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.00000,-2.000000,...,-46127.000000,-50616.00000,-81334.000000,-209051.000000,0.000000,0.000000e+00,0.000000,0.00000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,...,2717.250000,2312.25000,1706.250000,1158.250000,1000.000000,9.222500e+02,403.000000,239.00000,200.000000,150.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,20321.500000,19194.00000,18073.500000,17143.500000,2100.000000,2.010000e+03,1800.000000,1500.00000,1500.000000,1500.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,59856.000000,54143.50000,50489.500000,49217.000000,5000.000000,5.000000e+03,4500.000000,4000.00000,4001.500000,4000.000000
max,750000.000000,2.000000,6.000000,3.000000,75.000000,8.000000,8.000000,7.000000,8.00000,7.000000,...,855086.000000,563543.00000,514114.000000,511905.000000,493358.000000,1.227082e+06,349395.000000,528897.00000,426529.000000,527143.000000

# prepare to train final test

In [34]:
train_x=np.array(train_x)
train_y=np.array(train_y)
train_y=train_y.reshape(-1,1)
print(train_x.shape,train_y.shape)

(20000, 23) (20000, 1)

In [51]:
from sklearn.metrics import log_loss
def sigmoid(x):
    return (1 / (1 + math.exp(-x)))
class Logistic_Regression_gradient():
    def __init__(self):
        pass
    def parameter_init(self, dim,w_init=None,b_init=None):
#         self.W = w_init.reshape(dim,1)
        self.W = np.zeros((dim, 1))
#         self.b = b_init[0]
        self.b = 0
    def feature_scaling(self, X, train=False):    
        if train:
            self.min = np.min(X, axis=0)
            self.max = np.max(X, axis=0)
        return (X - self.min) / (self.max - self.min)
    
    def z_feature_scaling(self,X,train=False):
        if train:
            self.mean=np.mean(X,axis=0)
            self.std=np.std(X,axis=0)
        return((X-self.mean)/self.std)
        
    def predict(self, X): 
        z=np.dot(X, self.W) + self.b
        # define vectorized sigmoid
        sigmoid_v = np.vectorize(sigmoid)

#         # test
#         scores = np.array([ -0.54761371,  17.04850603,   4.86054302])
#         print sigmoid_v(scores)
        out=sigmoid_v(z)
        return (out)
        
    def RMSELoss(self, X, Y):
        return np.sqrt(np.mean((Y - self.predict(X))** 2) )
    
    def cross_entropy(self,X,Y):
        pred=self.predict(X)
#         pred=[[i,1-i] for i in pred]
        return(log_loss(Y,pred))
    
    def train(self, X, Y, epochs=30000, lr=0.1 ,feature_scaling="feature_scaling"): 
        
        batch_size = X.shape[0]
        W_dim = X.shape[1]
        self.parameter_init(W_dim)
        
        if feature_scaling=="z_feature_scaling":
            X = self.z_feature_scaling(X, train=True)
        else:
            X = self.feature_scaling(X, train=True)

            
        lr_b = 0
        lr_W = np.zeros((W_dim, 1))


        for epoch in range(epochs):
            if not epoch%1000:
                print(epoch,self.cross_entropy(X,Y))
            # mse loss
            grad_b = -np.sum(Y - self.predict(X))/ batch_size
            grad_W = -np.dot(X.T, (Y - self.predict(X))) / batch_size
            
            # adagrad
            lr_b += grad_b ** 2
            lr_W += grad_W ** 2
            
            #update
            self.b = self.b - lr / np.sqrt(lr_b) * grad_b
            self.W = self.W - lr / np.sqrt(lr_W) * grad_W

In [53]:
lr=Logistic_Regression_gradient()
lr.train(train_x,train_y,epochs=300000,feature_scaling="feature_scaling")

0 0.6931471805599453
1000 0.46859613829350183
2000 0.4661107135427086
3000 0.4653794834547385
4000 0.46508715461157274
5000 0.46493678293311497
6000 0.4648416988916145
7000 0.46477300170815117
8000 0.46471955166199086
9000 0.46467622250750856
10000 0.4646401939589339
11000 0.464609683877729
12000 0.4645834633469458
13000 0.4645606415706298
14000 0.4645405539096804
15000 0.46452269519644496
16000 0.4645066761915879
17000 0.4644921935318351
18000 0.4644790083058042
19000 0.46446693047448523
20000 0.46445580738910014
21000 0.4644455152429854
22000 0.4644359526545212
23000 0.46442703581419664
24000 0.4644186947894116
25000 0.4644108706924
26000 0.46440351349578884
27000 0.46439658033700254
28000 0.4643900341937399
29000 0.46438384284265466
30000 0.4643779780353303
31000 0.4643724148418624
32000 0.46436713112440664
33000 0.46436210711205095
34000 0.4643573250551108
35000 0.46435276894203353
36000 0.46434842426593803
37000 0.4643442778307382
38000 0.4643403175890234
39000 0.4643365325055753
40000 0.46433291244170616
41000 0.4643294480566185
42000 0.46432613072276535
43000 0.4643229524527991
44000 0.46431990583617483
45000 0.46431698398384313
46000 0.4643141804797653
47000 0.46431148933821204
48000 0.46430890496599625
49000 0.46430642212893636
50000 0.46430403592196345
51000 0.4643017417423871
52000 0.4642995352659065
53000 0.4642974124250225
54000 0.46429536938955424
55000 0.4642934025490108
56000 0.4642915084966007
57000 0.46428968401469617
58000 0.46428792606158803
59000 0.4642862317593954
60000 0.46428459838300634
61000 0.46428302334994415
62000 0.46428150421106484
63000 0.4642800386420046
64000 0.46427862443530404
65000 0.46427725949314447
66000 0.46427594182063975
67000 0.4642746695196324
68000 0.46427344078294774
69000 0.4642722538890672
70000 0.4642711071971821
71000 0.4642699991425976
72000 0.46426892823245425
73000 0.464267893041744
74000 0.46426689220959416
75000 0.46426592443579867
76000 0.46426498847757686
77000 0.4642640831465413
78000 0.4642632073058603
79000 0.46426235986759756
80000 0.4642615397902181
81000 0.4642607460762467
82000 0.4642599777700682
83000 0.46425923395585933
84000 0.46425851375564264
85000 0.4642578163274541
86000 0.4642571408636164
87000 0.46425648658911006
88000 0.4642558527600373
89000 0.4642552386621711
90000 0.464254643609583
91000 0.46425406694334814
92000 0.4642535080303178
93000 0.4642529662619585
94000 0.46425244105325253
95000 0.46425193184165553
96000 0.4642514380861079
97000 0.4642509592660973
98000 0.46425049488076875
99000 0.46425004444807927
100000 0.46424960750399424
101000 0.4642491836017244
102000 0.46424877231099937
103000 0.4642483732173768
104000 0.4642479859215848
105000 0.4642476100388954
106000 0.464247245198528
107000 0.46424689104308053
108000 0.4642465472279875
109000 0.46424621342100253
110000 0.4642458893017054
111000 0.4642455745610304
112000 0.46424526890081724
113000 0.46424497203338133
114000 0.4642446836811034
115000 0.46424440357603697
116000 0.464244131459534
117000 0.46424386708188575
118000 0.46424361020197996
119000 0.4642433605869725
120000 0.46424311801197327
121000 0.46424288225974497
122000 0.4642426531204155
123000 0.46424243039120183
124000 0.46424221387614534
125000 0.46424200338585836
126000 0.4642417987372817
127000 0.4642415997534511
128000 0.46424140626327387
129000 0.4642412181013148
130000 0.4642410351075905
131000 0.46424085712737123
132000 0.46424068401099283
133000 0.4642405156136733
134000 0.464240351795339
135000 0.4642401924204567
136000 0.46424003735787184
137000 0.46423988648065434
138000 0.46423973966594934
139000 0.46423959679483384
140000 0.4642394577521798
141000 0.4642393224265213
142000 0.46423919070992725
143000 0.4642390624978792
144000 0.464238937689154
145000 0.46423881618570956
146000 0.4642386978925766
147000 0.46423858271775353
148000 0.46423847057210504
149000 0.4642383613692655
150000 0.46423825502554456
151000 0.46423815145983754
152000 0.46423805059353834
153000 0.4642379523504556
154000 0.46423785665673223
155000 0.4642377634407674
156000 0.4642376726331424
157000 0.46423758416654726
158000 0.4642374979757122
159000 0.4642374139973401
160000 0.4642373321700418
161000 0.4642372524342738
162000 0.4642371747322779
163000 0.4642370990080234
164000 0.46423702520715104
165000 0.46423695327691894
166000 0.46423688316615014
167000 0.464236814825183
168000 0.464236748205822
169000 0.4642366832612912
170000 0.4642366199461886
171000 0.46423655821644333
172000 0.4642364980292723
173000 0.4642364393431403
174000 0.4642363821177204
175000 0.4642363263138559
176000 0.46423627189352357
177000 0.4642362188197983
178000 0.46423616705681914
179000 0.4642361165697553
180000 0.4642360673247751
181000 0.46423601928901465
182000 0.46423597243054776
183000 0.46423592671835723
184000 0.4642358821223073
185000 0.464235838613116
186000 0.46423579616232935
187000 0.464235754742296
188000 0.4642357143261432
189000 0.4642356748877525
190000 0.46423563640173743
191000 0.46423559884342114
192000 0.4642355621888153
193000 0.46423552641459903
194000 0.46423549149809923
195000 0.46423545741727085
196000 0.4642354241506785
197000 0.4642353916774781
198000 0.46423535997739945
199000 0.46423532903072884
200000 0.4642352988182932
201000 0.46423526932144377
202000 0.46423524052204074
203000 0.46423521240243815
204000 0.4642351849454698
205000 0.4642351581344349
206000 0.4642351319530847
207000 0.4642351063856091
208000 0.46423508141662434
209000 0.46423505703115997
210000 0.46423503321464776
211000 0.46423500995290934
212000 0.46423498723214546
213000 0.46423496503892475
214000 0.4642349433601737
215000 0.4642349221831656
216000 0.46423490149551183
217000 0.464234881285151
218000 0.46423486154034044
219000 0.46423484224964695
220000 0.4642348234019379
221000 0.46423480498637326
222000 0.4642347869923965
223000 0.4642347694097274
224000 0.46423475222835403
225000 0.4642347354385252
226000 0.46423471903074326
227000 0.46423470299575664
228000 0.46423468732455386
229000 0.46423467200835605
230000 0.46423465703861094
231000 0.4642346424069863
232000 0.4642346281053643
233000 0.4642346141258352
234000 0.46423460046069176
235000 0.4642345871024238
236000 0.46423457404371277
237000 0.4642345612774263
238000 0.4642345487966133
239000 0.4642345365944993
240000 0.4642345246644812
241000 0.46423451300012264
242000 0.46423450159514995
243000 0.46423449044344733
244000 0.4642344795390527
245000 0.4642344688761537
246000 0.46423445844908373
247000 0.46423444825231747
248000 0.46423443828046784
249000 0.46423442852828195
250000 0.46423441899063744
251000 0.46423440966253954
252000 0.4642344005391169
253000 0.4642343916156189
254000 0.4642343828874122
255000 0.4642343743499776
256000 0.46423436599890755
257000 0.46423435782990236
258000 0.4642343498387685
259000 0.4642343420214142
260000 0.46423433437384864
261000 0.464234326892178
262000 0.46423431957260325
263000 0.46423431241141816
264000 0.4642343054050061
265000 0.4642342985498387
266000 0.4642342918424725
267000 0.4642342852795474
268000 0.46423427885778457
269000 0.464234272573984
270000 0.46423426642502275
271000 0.4642342604078528
272000 0.46423425451949935
273000 0.4642342487570585
274000 0.46423424311769623
275000 0.46423423759864574
276000 0.4642342321972063
277000 0.4642342269107413
278000 0.4642342217366771
279000 0.46423421667250075
280000 0.46423421171575885
281000 0.4642342068640561
282000 0.46423420211505373
283000 0.46423419746646793
284000 0.4642341929160689
285000 0.46423418846167885
286000 0.46423418410117157
287000 0.4642341798324702
288000 0.4642341756535467
289000 0.4642341715624203
290000 0.46423416755715663
291000 0.464234163635866
292000 0.46423415979670296
293000 0.4642341560378647
294000 0.4642341523575904
295000 0.46423414875415975
296000 0.46423414522589246
297000 0.4642341417711469
298000 0.4642341383883193
299000 0.46423413507584266

In [55]:
lr.W
lr.b

-1.7835604580200728

In [49]:
dim = train_x.shape[1]
print(dim)
w= np.zeros((dim, 1))
a=np.dot(train_x,w)+1
sig_v=np.vectorize(sigmoid)
sig_v(a)

23

array([[0.73105858],
       [0.73105858],
       [0.73105858],
       ...,
       [0.73105858],
       [0.73105858],
       [0.73105858]])